* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: white;
  background-color: #ddd;
  margin: 0;
}

nav {
  background: linear-gradient(
    to right,
    rgb(21, 3, 113),
    rgb(76, 0, 255),
    rgb(96, 18, 141)
  );

  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  opacity: 0.8;
  margin-bottom: 100px;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
li a.active,
a:hover {
  color: #ffffff;
  font-weight: 100;
  background: linear-gradient
    (90deg, rgba(2, 0, 2, 0.21) 40%, rgba(7, 107, 112, 0.9) 100%);

  transition: 0.5s;
  box-shadow: 1px 1px 1px 1px rgba(2, 2, 92, 0.354);
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 18px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1070px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000ea;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}


.container {
  width: 80%;
  margin: auto;
  padding: 10px;
}

header {
  background-color: #7b0ad2;
}

.navbar-brand {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  padding: 10px;
}




.section-form {
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #333;
  border-radius: 8px;
  padding: 12px;
  animation: slide-in 2s forwards;
  box-shadow: 2px 2px 5px 5px #000;
}

@keyframes slide-in {
  from {
    transform: translate(0, -50%);
    opacity: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

.section-form h1 {
  text-align: center;
  color: #e2dfdf;
  font-weight: 900;
  margin-bottom: 1em;
  text-shadow: 1px 1px 10px #fff;
}

form input {
  display: block;
  background: #222;
  color: white;
  border: 1px solid #444;
  width: 100%;
  padding: 0.75em;
  border-radius: 4px;
  margin: 8px 0;
}

form input[type="submit"]:hover {
  opacity: 0.5;
}
form input[type="submit"] {
  font-weight: 800;
}


.check {
  display: flex;
  position: relative;
}

.check #show {
  height: 27px;
  width: 30px;
  position: absolute;
  right: 5px;
  top: 11px;
}

@media (max-width: 768px) {
  .section-form {
    width: 90%;
  }

}
