* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ----------------------------------------------------- */
body {
  background-image: url(../images/contact-img.svg);
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial;
  background-color: #b1aeae;
}
.start {
  position: absolute;
  /* background-color: #00fff2; */
  width: 250px;
  height: 120px;
  right: 0;
  top: 300px;
  position: fixed;
  z-index: 500;
}
.start2 {
  background-color: rgba(118, 197, 193, 0.861);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 40;
  text-align: center;
  font-size: 14px;
  z-index: 555;
}
.iconstar {
  font-size: 26px;
  margin-top: 6px;
  color: #000000;
}
.start::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(118, 197, 193, 0.861);
  transition: 1s;
}
.start:hover::after {
  width: 100%;
  height: 100%;
}

.content-star {
  /* background-color: #ff0000; */
  opacity: 0;
  z-index: 600;
  position: absolute;
  width: 350px;
  height: 100%;
  left: 15px;
  color: #fff;
}
.content-star:hover {
  opacity: 1;
  transition: 3s ease-in-out;
  width: 350px;
}
.content-star h3 {
  margin-top: 20px;
}
.gold {
  margin-top: 20px;
}
.gold i {
  font-size: 20px;
}

/* /////////////////////////////////////---------------------------------////////////////////////////////////////////// */
.ovarley {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  width: 45%;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  /* background-color: #8900a4; */
  /* box-shadow: 15px 15px 20px 10px #ddd; */
}

.title1 {
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 3px;
  margin-bottom: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 3px 7px #000;
}
.content span {
  font-size: 60px;
  color: #c300ffc0;
  letter-spacing: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  width: 160px;
  height: 50px;
  border-radius: 7px;
  font-size: 17px;
  border: none;
  margin: 0 14px;
}
.btn1 {
  background-color: rgba(255, 255, 255, 0.808);
  /* margin-right: 15px; */
}
.btn2 {
  background-color: rgba(0, 0, 255, 0.546);
  color: #fff;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 768px) {
  .ovarley {
    text-align: center;
    display: flex;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
  .title1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  }
  .content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: auto;
  }
  body {
    background-image: url(../images/contact-img.svg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    background-color: #b1aeae;
  }
}
