
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-thumb{
 border-radius: 20px;
 background: var(--minColor)
}
body{
  background: linear-gradient(  to right,  rgba(45, 24, 151, 0.873),  rgba(76, 0, 255, 0.697),  rgba(96, 18, 141, 0.736));
}
:root{
  --minColor : linear-gradient(  to right,  rgb(21, 3, 113),  rgb(76, 0, 255),  rgb(96, 18, 141));
  --secondColor : rgb(76, 0, 255);
  --textColorBlue : #0082e6 ;
}

.UpDown{
  position: fixed;
  width: fit-content;
  left: 15px;
  height: 55px;
  top: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btnUp ,.btnButoom{
  width: 30px;
  height: 30px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  margin-right: auto;
  opacity: .5;

}

#notfaction{
  display: none;
  position: absolute;
  border: 2px solid #ddd;
  width: 310px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  z-index: 900;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.baiscNotfaction{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contentNotfaction{
  width: 100%;
  /* border: 2px solid blue; */
  height: 85%;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;

}
.BTNnotfaction{
  padding: 5px;
  text-align: center;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 1s, visibility 1s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
} 


/* nav */

nav {
  background: linear-gradient(
    to right,
    rgb(21, 3, 113),
    rgb(76, 0, 255),
    rgb(96, 18, 141)
  );

  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 989;
  opacity: 0.8;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
li a.active,
li a:hover {
  color: #ffffff;
  font-weight: 100;
  background: linear-gradient
    (90deg, rgba(2, 0, 2, 0.21) 40%, rgba(0, 242, 255, 0.238) 100%);

  transition: 0.5s;
  box-shadow: 1px 1px 1px 1px rgba(2, 2, 92, 0.354);
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {

  
  label.logo {
    font-size: 18px;
    padding-left: 25px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1070px) {
  .checkbtn {
    display: block;
    z-index: 999;

  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 999;

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: var(--textColorBlue);
  }
  #check:checked ~ ul {
    left: 0;
  }
 
  
}
.us{
  font-size: 25px;
  color: #fff;
} 

/* monile maker */

header{
  position: fixed;
  width: 100%;
  padding: 80px;
  background-color: #0082e69c;
}
.hederV2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  outline: 2px solid #ddd;
  padding: 20px;
}
/* ------------------------------------------------------------------- */

.container{
  padding: 90px 0 130px 0;
  width: 95%;
  margin: auto;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.AllBox{

  width: fit-content;
}

.styleBox{
  width: fit-content;
   padding: 5px; 
   background: linear-gradient(
    to right,
    rgb(21, 3, 113),
    rgb(76, 0, 255),
    rgb(96, 18, 141)
  );
   border-radius: 5px;
}


.lines{
  width: 250px;
  height: 2px;
  /* background-color: var(--textColorBlue); */
  margin: 5px 0;
}
.c1{
  margin-right: 20px;
  border-right: 2px solid #ddd;
  padding: 5px;


}
.btn{
  margin-bottom: 5px;
}
p{
  text-align: right;
}


.hidden{
display: none;
width: fit-content;
border: 2px solid #ddd;
padding: 5px;
background-color: #f1f0f0; 
border-radius: 5px;
}
#msg , #msg3{
display: none;
border: 1px solid black;
width: fit-content;
/* margin: auto; */
padding: 5px;
}
#msg_bss{
display: none;
border: 1px solid black;
width: fit-content;
padding: 5px;
}
.texx{
padding-left: 5px;
font-weight: bolder;
/* color: #0082e6; */
color: #fff;
}

label{
cursor: pointer;

}
label:active{
color: blueviolet;



}
#result , #result3{
margin-top: 25px;
text-align: right;
display: none;
border: 1px solid red;
font-size: 18px;
padding: 5px;
width: fit-content;

}
.script1{
text-align: right;
width: fit-content;
padding: 5px;
border: 1px solid red;

}

.content-data{
  padding-top: 40px;



}

@media (max-width: 952px) {

label.logo {
  font-size: 18px;
  padding: 0 0 0 25px;
}
nav ul li a {
  font-size: 16px;
}
}

@media (max-width: 550px) {
  .hederV2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
  }
  .container{
    font-size: 15px;
  }

.content ul{
  font-size: 15px;
}
.content label{
  font-size: 14px;
}
.container {
  display: block;
}

.checkbtn {
  z-index: 9999;
}
nav ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
  z-index: 999;

}
.saidPosition{
  z-index: 9999;
}


}


.content{
direction: rtl;


}

.scripts ,#box-we-mobile{
display: none;
border: 2px solid black;
width: fit-content;
padding: 4px;
background-color: #e5cefa;
}

.cloAll{
  background-color: #e5cefa;

}

.radio_tabs{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 240px;
}
.wrapper .radio_tabs label {
/* margin-right: 15px; */
display: block;
position: relative;
cursor: pointer;
/* padding-left: 28px; */
text-align: center;
color: #fff;
}


.wrapper .radio_tabs .radio_mark:before{
content: "";
position: absolute;
top: 2px;
left: 0;
width: 22px;
height: 22px;
}



label input:checked ~ .color2{
color: #8a2be2;
}
.wrapper .radio_tabs label{
  background-color: #38105e;
  width:fit-content;
  height: 35px;
border-radius: 3px;


}


  
  /* border: 2px solid red;
  text-align: center; */
.radio_content{
  background-color: #ffff;
  padding: 5px;
}
  .radio_mark{
    height: 100%;
    padding: 5px;

  }
.ce{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #8a2be2;


  transform: translate(-50% , -50%);
}

.input:checked ~ .colr{
  color: #8a2be2;
}
.wrapper .radio_tabs label .input:checked ~ .radio_mark{
color: #fff;
background-color: #8a2be2;
width: fit-content;
/* height: 20px; */

border-radius: 3px;


}
.wrapper .radio_tabss label .input:checked ~ .radio_mark{
color: #c02be2;
font-weight: 500;
width: fit-content;
}

.wrapper .radio_tabs label .input:checked ~ .radio_mark:before{
background-position: 0 -23px;
width: 22px;
height: 22px;
}






.wrapper .content{
width: 100%;
height: calc(100% - 70px);
/* background: #ddd; */
border-radius: 5px;
padding: 18px;
/* box-shadow: 0 0 2px rgba(0,0,0,0.1); */
}

.wrapper .content p{
font-size: 15px;
line-height: 22px;
margin-bottom: 15px;
} 


.box-select{
  display: none;
  padding: 10px;
  border: 1px solid black;
  /* background-color: #ddd; */
  background : var(--minColor);
  color: #fff;


}

#optionL{
  text-align: center;
  border-radius: 5px;
  background : var(--minColor);
  color: #fff;

}
#optionL option{
  background-color: 
    rgb(76, 0, 255);
}
 img{
  width: 80vw; 

}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: var(--minColor)
}
footer p{
  text-align: center;
  padding-top: 5px;
  margin: 0;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer div{
  text-align: center;
}
footer div img{
  width: 90px;
  height: 50px;
}
#remove{
  display: block;
  margin-right: auto;
  border: 0;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

.hiddenBtn{
  display: none;
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
  margin: 10px 0;

}
.sper p{
  text-align: left;
}
.ol_21 li{
  background-color: #e3c504;
  margin-bottom: 3px ;
  padding: 0 3px;
}

.cond1 label , .cond2 label , .cond3 label{
  display: block;
}
.cond1 li ,.cond2 li , .cond3 li{
  background-color: #fba7a7;
  margin: 3px 0;
  padding: 0 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.updated{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  width: max-content;
  padding: 3px;
  background-color: rgb(160, 231, 53);
  text-align: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.new{
  font-size: medium;
  width: max-content;
  padding: 3px;
  background-color: greenyellow;
  text-align: center;
  border-radius: 10px;
  color: white;
  animation: new 1s infinite ease-in-out;
}

@keyframes new {
  0%{
    background-color: red;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: greenyellow;
  }
}

.saidPosition a{
  position: fixed;
  top: 50%;
  opacity: .8;
  border-radius: 50%;
}
.lab{
  position: relative;
  color: #fff;
}
.circl{
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -2px;
  left: 0;
}

.con7 , .con8{
  display: none;
  width: fit-content;
  padding: 3px;
}
