* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ----------------------------------------------------- */
body {
  background-image: url(../images/Pngtre.jpg);
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial;
  background-color: #b1aeae;
}


/* /////////////////////////////////////---------------------------------////////////////////////////////////////////// */

.content {
  width: 45%;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px;
  border-radius: 20px;

}



.title1 {
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 3px;
  margin-bottom: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 3px 7px #000;
}
.content span {
  font-size: 60px;
  color: #c300ffc0;
  letter-spacing: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  width: 160px;
  height: 50px;
  border-radius: 7px;
  font-size: 17px;
  border: none;
  margin: 0 14px;
}
.btn1 {
  background-color: rgba(255, 255, 255, 0.808);
}
.btn1 a {
  padding: 15px 30px;
}
.btn2 {
  background-color: rgba(0, 0, 255, 0.546);
  color: #fff;
}
.btnSR{
  animation: sr infinite ease-in;
  animation-duration: 1s;
}
@keyframes sr {
  0%{
  opacity: 1;
  }
  100%{
    opacity: .5;
    background-color: red;
  }
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 768px) {
  .ovarley {
    text-align: center;
    display: flex;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 10px;
  }
  .title1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  }
  .content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: auto;
  }
  body {
    background-image: url(../images/Pngtre.jpg) !important;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    background-color: #b1aeae;
  }
}
nav {
  background: linear-gradient(
    to right,
    rgb(21, 3, 113),
    rgb(76, 0, 255),
    rgb(96, 18, 141)
  );

  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  opacity: 0.8;
  margin-bottom: 100px;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
li a.active,
a:hover {
  color: #ffffff;
  background: linear-gradient
    (90deg, rgba(2, 0, 2, 0.21) 40%, rgba(7, 107, 112, 0.9) 100%);

  transition: 0.5s;
  box-shadow: 1px 1px 1px 1px rgba(2, 2, 92, 0.354);
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 18px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1070px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000ea;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }

}
